:root {
    --background-principal: #99A98F;
    --color-letras: rgb(26, 26, 26);
}

body,html {
    background: var(--background-principal);
    color: var(--color-letras)
}

h1 {
    color:#dce7df;
    font-style: italic;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5em;
    text-shadow: 2px 2px 8px rgba(17, 17, 17,0.8);
    margin-bottom: 50px;
}

.contenedor {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    min-width: 400px;

}

.input-all {
    display: flex;
    justify-content: center;

}

.div-cards-el {
    border: 1px solid;
    display: grid;
    grid-template-columns: 2fr 100px 100px;
    width: auto;
    margin-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    font-size: 1.2em;
    background: #D6E8DB;
    border-radius: 10px;
    color: black;
    align-items: center;
}


.botonEliminar {

    background: rgba(255, 173, 173,0.7);
    font-family: monospace;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px; 
    font-size: 1.1em;
    border: 1px solid black;


}

.botonEditar {
    background: none;
    font-family: monospace;
    border-radius: 8px;
    margin-left: 15px;
    margin-right: 5px; 
    font-size: 1.1em;
    border: 1px solid black;

}

.button-input {
    padding: 5px;
    border-radius: 5px;
    font-family: monospace;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 1em;
    background: #D6E8DB;
    border: 1px solid black;
    border-radius: 12px;
}

.input-text {
    background: rgb(235, 253, 239);
    padding: 12px;
    width: 60%;
    font-family: monospace;
    font-size: 1.15em;
    border: 1px solid black;
    border-radius: 12px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 20vh;
    min-height: 400px;
    padding: 5px;
    border-radius: 20px;
    background: #C1D0B5;
    border: 2px solid;
}

.botonEditar:hover {
    cursor: pointer;
    background: rgba(153, 169, 143,0.5);
}

.activo {
    background: rgba(35, 218, 141,0.5);
}

.botonEliminar:hover {
    background: rgb(223, 117, 117);
    cursor: pointer;
}

.button-input:hover {
    cursor: pointer;
    background: rgba(153, 169, 143,0.5);
    opacity: 100%;
    
}

.input-hidden {
    display: none;
}

.editando {
    background: rgb(195, 238, 255);
}

@media (max-width: 500px) {
    .header {
        min-width: 0px;
    }
    .contenedor {
        margin-top: 0px;
    }
    .main{ 
        font-size: 0.7em;
    }
}